/* 单词 */
.pt-highlight{
    position:relative;
    z-index: 10; /*解决某些地方父级引用背景导致hover效果失效*/
    color:#fe628e;
    font-weight: 900;
    cursor: pointer;
}
.pt-highlight::before{
    content:'';
    position:absolute;
    z-index:-1;
    bottom:0;
    left:0;
    width:100%;
    height:50%;
    background:#fe628e;
    opacity:.3;
    /* transform功能实现文字或图像的旋转、缩放、倾斜、移动这4中类型的变形处理
    * scale3d实现 XYZ轴缩放
    */
    transform:scale3d(1, .1, 1);
    /* transform-origin 设置旋转元素的基点位置 */
    transform-origin:0% 100%;
    /*transform是 转换，指的是改变所在元素的外观，它有很多种手段(转换函数)来改变外观，translate是transform的一部分。
    * transition是 过渡，指的是某个CSS属性值如何平滑的进行改变，就是平常说的 动效
    * transform是没有动画效果，你改变了它的值，元素的样子就唰的改变了。
    */
    transition:transform .5s;
    /* CSS实现贝塞尔曲线 */
    transition-timing-function:cubic-bezier(.2, 1, .3, 1);
    -webkit-transform:scale3d(1, .1, 1);
    -moz-transform:scale3d(1, .1, 1);
    -ms-transform:scale3d(1, .1, 1);
    -o-transform:scale3d(1, .1, 1);
    -webkit-transition:transform .5s;
    -moz-transition:transform .5s;
    -ms-transition:transform .5s;
    -o-transition:transform .5s;
}
.pt-highlight:hover, .pt-highlight:focus{
    color:#fe628e
}
.pt-highlight:hover::before{
    transform:scale3d(1, 1, 1);
    -webkit-transform:scale3d(1, 1, 1);
    -moz-transform:scale3d(1, 1, 1);
    -ms-transform:scale3d(1, 1, 1);
    -o-transform:scale3d(1, 1, 1);
}
/* 单词弹出层 */
.pt-bubbleWrap{
    /* position: fixed !important; */
    opacity: 0;
    width: 300px !important;
    top: 0;
    left: 0;
    z-index: 1000000 !important;
    background-color: #fff !important;
    box-shadow:0 6px 30px 0 rgba(0,0,0,.4);
    overflow: hidden;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
}
.pt-bubbleWordWrap{
    position: relative;
    padding: 20px 10px;
    height: 30px;
    color: #fff;
    background-color: #fe628e;
}
.pt-bubbleZhWrap{
    color: #fff;
    height: 30px;
    z-index: 99;
}
.pt-bubbleZhName{
    font-size: 20px;
}
.pt-bubbleWordRead{
    margin-left: 10px;
}
.pt-bubbleWordType{
    margin-top: 6px;
    float: right;
}
.pt-bubbleWordBg{
    position: absolute;
    bottom: 40px;
    line-height: 0 !important;
    right: 10px;
    opacity: .1;
    z-index: 0;
    font-size: 55px;
}
.pt-bubbleExampleWrap{
    padding: 15px 10px;
}
.pt-bubbleSubTitle{
    margin-top: 0;
    color: rgba(0,0,0,0.5);
}
.pt-bubbleExampleLine{
    font-size: 12px;
}